
{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.tags}}" role="alert" >{{msg}}</div>
    {% endfor %}
{% endif%}
<div  style="text-align: right"><a style="padding: 0px 10px" id="" class="btn btn-dark" href="{% url 'url_adinoticia' %}" role="button"><strong>Adicionar noticia</strong></a></div>
{% if noticiasdata %}
    <h4><strong> Tabla de registro de noticias.</strong></h4>
    <div class="row" style="width:100%; margin: 0 0.1em">
        <div class="col-sm-15 col-m-15 ">
            <div class="table table-striped table-hover table-reponsive-sm">
                <table > 
                    <tr>
                        <th style="width: 20%">Título</th>
                        <th style="width: 20%">Contenido</th>
                        <th style="width: 10%">Autor</th>
                        <th style="width: 10%">Fecha</th>
                        <th style="width: 20%">Entidad</th>
                        {% if user.is_authenticated %}
                            <th style="padding: 10px 3px" text-align: "right">Opciones</th>
                            <th></th>
                        {% endif %} 
                    </tr>    
                    {% for noticia in noticiasdata %}
                        <tr>
                            <td style="padding: 3px 3px"><p>{{noticia.titulo}}</p></td>
                            <td style="padding: 3px 3px"><p>{{noticia.contenido| slice:":150"}}....</p></td>
                            <td style="padding: 3px 3px"><p>{{noticia.autor.username}}</p></td>
                            <td style="padding: 3px 3px"><p> {{noticia.creado|date:"d-m-y" }}</p></td>
                            <td style="padding: 3px 3px"><p>{% if noticia.entidactor %}{{noticia.entidactor.nombrecorto}}{% endif%}</p></td>
                            {% if user.is_authenticated %}
                                <td style="width: 10%; padding: 3px 4px"><a class="btn btn-warning" style="padding: 2px 3px" href="{% url 'url_edinoticia' noticia.idpost %}"><p>Ver/Editar</p></a></td>
                                <td style="padding: 3px 4px"><a class="btn btn-danger" style="padding: 2px 5px" href="{% url 'url_elinoticia' noticia.idpost %}"><p>Eliminar</p></a></td>
                            {% endif %}
                            </tr>     
                    {% endfor%}   
                </table>
            </div>
        </div>
    </div>    
{% else %}   
    <div class="card-body" align="center" style="width:70%; margin: auto">
        <div class="alert alert-primary alert-dismissible fade show" role="alert"><strong> No existen noticias registradas eb la PSIGC.</strong></div>
    </div>    
{% endif %}
            

