{% extends 'psigchom/main.html' %}

{% load static %}

{% block content %}

<div id="body">
    <div id="sub-header">
		<h2>Una pregunta hoy es sabiduría del mañana</h2>
    </div>
    <div id="breadcrumbs">
        <span>Ud. está aquí:</span><strong>Consulta</strong>
    </div>    
    <div id="content">
      <h3>Contáctenos</h3>
      <!--form action="/contacto/" method="Post"> {% csrf_token %}
          <p><label for="name">Nombre:</label><input name="name" id="name" value="" type="text" /><br /></p>		
          <p><label for="email"> Email:  </label><input name="email" id="email" value="" type="text" /><br /></p>
          <p><label for="subject">Asunto:</label><input name="subject" id="email" value="" type="text" /><br /></p>
          <p><label for="message">Mensaje:</label>	
          <textarea cols="60" rows="11" name="mensaje" id="message"></textarea><br/></p>
          <p><input name="send" class="formbutton" value="Enviar" type="submit" /></p>
      </form-->    
    </div>     
</div>  
{%endblock%}