<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>PSIGC: Plataforma para el Sistame Integral de la Gestión del Conocimiento</title>

<link rel="stylesheet" href="{% static 'psigchom/css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'psigchom/css/bootstrap-grid.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'psigchom/css/bootstrap-grid.min.css' %}" type="text/css">


                  
<script type="text/javascript" src="{% static 'psigchom/css/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'psigchom/css/js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'psigchom/css/js/js/superfish.js' %}"></script>
<script type="text/javascript" src="{% static 'psigchom/css/js/js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'psigchom/css/js/js/bootstrap.js' %}"></script>

<script type="text/javascript" src="{% static 'psigchom/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'psigchom/js/bootstrap.min.js' %}"></script>
   
<script type="text/javascript" src="{% static 'psigchom/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'psigchom/js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'psigchom/js/superfish.js' %}"></script>
<script type="text/javascript" src="{% static 'psigchom/js/custom.js' %}"></script>
</head> 
{% block cssblock %}

     
{%endblock%}